<div class="">
    <modal-opener class="popupmodal--thankyou__opener-{{ section.id }}" data-modal="#PopupModal-{{ section.id }}">
        <button id="ProductPopup-{{ section.id }}" type="button" aria-haspopup="dialog"></button>
    </modal-opener>
</div>
<modal-dialog id="PopupModal-{{ section.id }}" class="popupmodal--thankyou">
    <div role="dialog" aria-modal="true" class="popupmodal--thankyou__content" tabindex="-1">
        <button id="ModalClose-{{ section.id }}" type="button" class="popupmodal--thankyou__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="popupmodal--thankyou__content-info">
            <h1>Thank You!!!</h1>
        </div>
    </div>
</modal-dialog>
<script>
    document.querySelector(`${localStorage.getItem('activated-ty-modalpopup')}`).click();
    console.log('✅');
</script>