{{ 'section-image-banner-slideshow-7923216.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

<div class="section section--image-banner-slideshow section--image-banner-slideshow-{{ section.id }}">
  {%- for block in section.blocks -%}
    <div class="section__content">
      <div class="section__image-bg">
        <div class="section__image-bg--desktop small-hide">
          {%- if block.settings.image_desktop -%}
            {%- liquid
                if block.settings.image_desktop.alt == blank
                    assign image_desktop_alt = shop.name
                    assign image_desktop_title = shop.name
                else
                    assign image_desktop_alt = block.settings.image_desktop.alt
                    assign image_desktop_title = block.settings.image_desktop.alt
                endif
            -%}
            <img
              src="{{ block.settings.image_desktop | image_url }}"
              loading="lazy"
              alt="{{ image_desktop_alt | escape }}"
              title="{{ image_desktop_title | escape }}"
              width="{{ block.settings.image_desktop.width }}"
              height="{{ block.settings.image_desktop.height }}"
            >
          {%- else -%}
            <div class="no-image">
              {%- liquid
                assign min = 1
                assign max = 2
                assign diff = max | minus: min
                assign random_number = "now" | date: "%N" | modulo: diff | plus: min
              -%}
          
              {{ 'lifestyle-' | append: random_number | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}
        </div>

        <div class="section__image-bg--mobile medium-hide large-up-hide">
          {%- if block.settings.image_mobile -%}
            {%- liquid
                if block.settings.image_mobile.alt == blank
                    assign image_mobile_alt = shop.name
                    assign image_mobile_title = shop.name
                else
                    assign image_mobile_alt = block.settings.image_mobile.alt
                    assign image_mobile_title = block.settings.image_mobile.alt
                endif
            -%}
            <img
              src="{{ block.settings.image_mobile | image_url }}"
              loading="lazy"
              alt="{{ image_mobile_alt | escape }}"
              title="{{ image_mobile_title | escape }}"
              width="{{ block.settings.image_mobile.width }}"
              height="{{ block.settings.image_mobile.height }}"
            >
          {%- else -%}
            <div class="no-image">
              {%- liquid
                assign min = 1
                assign max = 2
                assign diff = max | minus: min
                assign random_number = "now" | date: "%N" | modulo: diff | plus: min
              -%}
          
              {{ 'lifestyle-' | append: random_number | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="section__info page-width">
        <div class="section__info-up">
          <h2 class="h1 slogan">
            {{ block.settings.header_text_first | escape }}
            <br>
            <img
              src="{{ block.settings.header_image | image_url }}"
              loading="lazy"
              alt="{{ block.settings.header_image.alt }}"
              title="{{ block.settings.header_image.alt }}"
              width="{{ block.settings.header_image.width }}"
              height="{{ block.settings.header_image.height }}"
            >
            <br>
            {{ block.settings.header_text_second | escape }}
          </h2>
        </div>

        <div class="section__button">
          {%- liquid
            assign btn_link = block.settings.btn_link
            assign btn_label = block.settings.btn_label

            if btn_link contains 'collections'
                assign link_title = btn_link | split: '/' | last | append: ' collections' | strip
            else
                assign link_title = btn_link | split: '/' | last | strip
            endif
          -%}
          
          <a class="btn btn--default btn-he--lighten btn--round-corner"
            {% if btn_link != blank %}
                href="{{ btn_link }}"
                title="{{ link_title }}"
            {% endif %}
            role="button">
            {{ btn_label | escape }}
          </a>
        </div>

        <div class="section__info-bottom">
          <img
            src="{{ block.settings.extra_info_image | image_url }}"
            loading="lazy"
            alt="{{ block.settings.extra_info_image.alt }}"
            title="{{ block.settings.extra_info_image.alt }}"
            width="{{ block.settings.extra_info_image.width }}"
            height="{{ block.settings.extra_info_image.height }}"
          >
          <div class="section__info-bottom--text">
            {{ block.settings.extra_info_text }}
          </div>
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "🔰 Hero Banner S",
  "tag": "section",
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Image"
        },
        {
          "type": "header",
          "content": "Header Settings"
        },
        {
          "type": "text",
          "id": "header_text_first",
          "label": "First Text",
          "default": "step up your"
        },
        {
          "type": "image_picker",
          "id": "header_image",
          "label": "Header Image"
        },
        {
          "type": "text",
          "id": "header_text_second",
          "label": "Second Text",
          "default": "with avacluxe."
        },
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Link",
          "default": "/collections/all"
        },
        {
          "type": "header",
          "content": "Extra Info Settings"
        },
        {
          "type": "image_picker",
          "id": "extra_info_image",
          "label": "Extra Info Image"
        },
        {
          "type": "richtext",
          "id": "extra_info_text",
          "label": "Extra Info Text",
          "default": "<p>buy now.  gorgeous lashes now. pay later.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "🔰 Hero Banner S",
      "category": "Custom Section"
    }
  ]
}
{% endschema %}
