{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
<style>

:root{
    --font-base--banner__heading: {{ section.settings.heading_base_fontsize }};
}

</style>
<div class="section section--hb"
    style="{% unless section.settings.bg_image == blank %}background-image: url('{{section.settings.bg_image | image_url}}');{% endunless %}
            {% unless section.settings.bg_color == blank %}background-color: {{ section.settings.bg_color }};{% endunless %}
            background-blend-mode: {{section.settings.bg_blend}};">
    
    <div class="section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>

        <div class="page-width">

          <div class="section--hb__content">
            <div class="grid grid--1-col grid--2-col-desktop grid--1-col-tablet">

              <div class="grid__item">

                <div class="section--hb__text">
                
                  <p class="section--hb__kicker">{{ section.settings.kicker | escape }}</p>

                  <h2 class="section--hb__heading"
                      style="{% if section.settings.heading_center %}text-align: center;{% endif %}">{{ section.settings.heading }}</h2>

                  <p class="section--hb__subheading">{{ section.settings.subheading | escape }}</p>

                  <div class="section--hb__button">
                      {% render 'button',
                          btn_label: section.settings.btn_label,
                          btn_link: section.settings.btn_link,
                          btn_size: section.settings.btn_size,
                          hover_effect: section.settings.hover_effect,
                          icon_type: section.settings.icon_type,
                          shadow_effect: section.settings.shadow_effect,
                          auto_width: section.settings.auto_width
                      %}
                  </div>

                </div>
              
              </div>

              <div class="grid__item">
                <div class="section--hb__image">
                    
                  {% if section.settings.image == blank %}
                      {% render 'no-image'%}
                  {% else %}
                      {%- liquid
                          if section.settings.image.alt == blank
                            assign image_alt = shop.name
                            assign image_title = shop.name
                          else
                            assign image_alt = section.settings.image.alt
                            assign image_title = section.settings.image.alt
                          endif
                      -%}
                      <img
                      srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                      {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                      {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                      {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                      {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                      {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                      {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                      {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                      {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                      sizes="{% if section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
                      src="{{ section.settings.image | img_url: '1000x' }}"
                      loading="lazy"
                      alt="{{ image_alt | escape }}"
                      title="{{ image_alt | escape }}"
                      width="{{ section.settings.image.width }}"
                      height="{{ section.settings.image.width }}"
                      >
                  {% endif %}
                    
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
</div>

{% schema %}
    {
        "name": "🔰 Hero Banner",
        "tag": "section",
        "settings": [
            {
                "type": "header",
                "content": "Section Settings"
            },
            {
                "type": "richtext",
                "id": "heading",
                "label": "Heading",
                "default": "<p>Heading! <strong>with</strong> Tagline!</p>",
                "info": "Bold the text you want to use other font"
            },
            {
                "type": "checkbox",
                "id": "heading_center",
                "label": "Align center",
                "default": false
            },
            {
                "type": "range",
                "id": "heading_base_fontsize",
                "min": 0.5,
                "max": 1.5,
                "step": 0.1,
                "label": "Base Font Size",
                "default": 1
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading",
                "default": "In consequat, quam id sodales hendrerit, eros mi lacinia risus neque tristique augueproin tempus urna congue. elementum."
            },
            {
                "type": "text",
                "id": "kicker",
                "label": "Kicker",
                "default": "We have the best product."
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner Image"
            },
            {
              "type": "header",
              "content": "Background Settings"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "select",
                "id": "bg_blend",
                "label": "Blend Mode",
                "options": [
                    {
                    "value": "normal",
                    "label": "Normal"
                    },
                    {
                    "value": "multiply",
                    "label": "Multiply"
                    },
                    {
                    "value": "screen",
                    "label": "Screen"
                    },
                    {
                    "value": "overlay",
                    "label": "Overlay"
                    },
                    {
                    "value": "darken",
                    "label": "Darken"
                    },
                    {
                    "value": "lighten",
                    "label": "Lighten"
                    },
                    {
                    "value": "color-dodge",
                    "label": "Color Dodge"
                    },
                    {
                    "value": "saturation",
                    "label": "Saturation"
                    },
                    {
                    "value": "color",
                    "label": "Color"
                    },
                    {
                    "value": "luminosity",
                    "label": "Luminosity"
                    }
                ],
                "default": "normal"
            },
            {
                "type": "header",
                "content": "Button Settings"
            },
            {
                "type":"text",
                "id":"btn_label",
                "label":"Label",
                "default":"Shop Now"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Link",
                "default": "/collections/all"
            },
            {
                "type": "select",
                "id": "btn_size",
                "label": "Button Size",
                "options": [
                    {
                    "value": "default",
                    "label": "Default"
                    },
                    {
                    "value": "medium",
                    "label": "Medium"
                    },
                    {
                    "value": "large",
                    "label": "Large"
                    }
                ],
                "default": "default"
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover Effect",
                "options": [
                    {
                    "value": "lighten",
                    "label": "Lighten Effect"
                    },
                    {
                    "value": "color-switch",
                    "label": "Color Switch Effect"
                    },
                    {
                    "value": "slide",
                    "label": "Slide Effect"
                    },
                    {
                    "value": "shine",
                    "label": "Shine Effect"
                    }
                ],
                "default": "shine"
            },
            {
                "type": "select",
                "id": "icon_type",
                "label": "Button Icon",
                "options": [
                    {
                    "value": "none",
                    "label": "None"
                    },
                    {
                    "value": "arrow",
                    "label": "Arrow"
                    }
                ],
                "default": "arrow"
            },
            {
                "type": "checkbox",
                "id": "shadow_effect",
                "label": "Enable Shadow Effect",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "auto_width",
                "label": "Enable Auto Width",
                "default": false
            }
        ],
        "presets":[
            {
                "name": "🔰 Hero Banner",
                "category": "Custom Section"
            }  
        ]
    }
{% endschema %}